global:
  domain: argocd.fabiobartoli.com.br

configs:
  params:
    server.insecure: "true"

  cm:
    url: https://argocd.fabiobartoli.com.br
    accounts.linuxtips: apiKey, login

  secret:
    extra:
      accounts.linuxtips.password: "$2b$10$xXbxM1IXskd5BPf4YepSMuvGRvI7pXxvhleiiLin.keUV1jFLhO9G"
      accounts.linuxtips.passwordMtime: "2025-11-07T18:45:00Z"

  rbac:
    policy.default: role:readonly
    policy.csv: |
      p, role:admin, *, *, */*, allow
      g, linuxtips, role:admin

server:
  service:
    type: ClusterIP

  ingress:
    enabled: false

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

controller:
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi

repoServer:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  livenessProbe:
    timeoutSeconds: 30
    initialDelaySeconds: 60
    periodSeconds: 30
    failureThreshold: 5
  readinessProbe:
    timeoutSeconds: 30
    initialDelaySeconds: 30
    periodSeconds: 10
    failureThreshold: 3

applicationSet:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi
